#Editor e Cache
.vscode/
__pycache__/

#Bloqueia dados sensiveis em qualquer local, mas permite a estrutura
**/data/**/*.xlsx
**/data/**/*.jpg
**/data/**/*.png
**/data/**/*.jpeg
!**/.gitkeep
**/data/Posto-Preço-16

#Bloqueia todo o esquema dentro da pasta modelo
**/modelo/runs/detect
**/modelo/sample_data/
**/modelo/.config/