.vscode
__py__cache

placas/data/**/*.xlsx
placas/data/**/*.jpg
placas/data/**/*.png
placas/data/**/*.jpeg
!**/.gitkeep

*modelo/runs/detect/train
*modelo/sample_data
*modelo/.config
*placas/scripts

